.profileWall{
    min-height: 93.4vh;
    height: auto;
    width: 100vw;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.listContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    padding: 1em;
    border-radius: 1em;
}

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.opcionesUser{
    margin: 1em;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(183, 132, 55);
    border-radius: 1em;
}

.botonProfile{
    margin: 0.3em;
    border-radius: 1em;
}