.profileWall{
    min-height: 93.4vh;
    height: auto;
    width: 100vw;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.listContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}