.profileWall{
    min-height: 93.4vh;
    height: auto;
    width: 100vw;
    background-color: red;
    background-image: url('../../../assets/thimo-pedersen-dip9IIwUK6w-unsplash.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerPokemons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.73);
    padding: 1em;
    border-radius: 1em;
}

.titleCont{
    color: white;
}

.listContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    padding: 1em;
    border-radius: 1em;
}

.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.opcionesUser{
    margin: 1em;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.73);
    border-radius: 1em;
}

.botonProfile{
    margin: 0.3em;
    border-radius: 1em;
}