

.detailedCard{
    width: 28em;
    height: 28em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1em;
    color: white;
}

.pokeImg{
    margin-top: -3em;
    height: 15em;
    margin-bottom: 0;
}

.pokeName{
    margin-top: -1em;
}

.stats{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.datos{
    margin: 1em;
    font-weight: 600;
}
.msg{
    margin: 1em;
}