.container {
    margin: 0;
    height: 6.6vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.817);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links{
    color: white;
    font-weight: 800;
}