.loginWall{
    height: 93.3vh;
    width: 100vw;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.labelLogin{
    font-size: 1.2em;
    font-weight: 550;
}

.inputLogin{
    height: 2em;
    width: 15em;
    border-radius: 1em;
}

.submitLogin{
    margin: 1em;
}

.submitLogin{
    border-radius: 1em;
}