.pokeWall{
    min-height: 90vh;
    height: auto;
    width: 98.3vw;
    background-color: blueviolet;
    background-image: url('../../assets/juan-manuel-nunez-mendez-y1IEnAYvMxY-unsplash.jpg');
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1em;
    position: relative;
}

.detailedPoke{
    background-color: rgb(52, 52, 52);
    position: absolute;
    z-index: 5;
    padding: 0.4em;
    border-radius: 1em;
}

.close{
    margin-top: 0em;
    margin-left: 26em;
    color: white;
    background-color: red;
    text-align: center;
    padding: 0.3em;
    font-weight: 900;
    border-radius: 0.7em;
    
}